.env
# Ignore virtual environment
dis_env/
.venv/
d_env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings (optional)
.vscode/

# Environment variable files
.env

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db


# Cyclone Training Image
# store_cyclone_image/

db.sqlite3

# Allow migration files except __pycache__
!*/migrations/
!*/migrations/*.py
__pycache__/